@import "../variables.scss";

.menu-items {
  outline: none;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.25rem;
  transition: all 0.3s;

  &:hover {
    svg {
      fill: $white;
      stroke: $white;
      transform: scale(1.1);
      transition: all 0.3s;
    }
    span {
      color: $white;
      transition: all 0.3s;
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $lightgray;
    cursor: pointer;
    transition: all 0.3s;
  }

  span {
    font-family: "Montserrat", sans-serif;
    color: $lightgray;
    cursor: pointer;
    transition: all 0.3s;
  }
}

.active-link {
  border-bottom: 2px solid $red;
  padding-bottom: 0.25rem;
  transition: all 0.3s;
}

.opaque {
  background: rgba(0, 0, 0, 0.85);
}
